body{
    background-color: rgb(223, 173, 228);
}

.box{
    width: 45%;
    text-align: center;
}

.formulario{
    text-align: center;
    box-sizing: border-box;
    width: 600%;
    margin: 90px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;

}

.container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}